<h1>Rastreamento de objetos</h1>
<p>Consulte a situação de um objeto enviado.</p>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col col-sm-4">
            <label for="codigo">Código de rastreamento:</label>
            <input type="text" formControlName="codigo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.codigo.errors }" />
            <div *ngIf="submitted && f.codigo.errors" class="invalid-feedback">
                <div *ngIf="f.codigo.errors.required">Código é obrigatório</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Pesquisar
        </button>
    </div>
</form>